# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Installer logs
install.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Caches and logs
*.log

# IDE-specific files
.idea/*
.vscode/
.idea
# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# pyright
.pyright

# Local development artifacts
*.local

/legacy
*~
d/

output/*
sessions/*
promt
